<!DOCTYPE html>
<html>
  <head>
    <title>Marvel Wiki Search Result</title>
  </head>
  <body>
    <h2>You have researched <%= characterName %> in Marvel Wiki</h2>

    <% if (notFound) { %>
    <div>
      <p>
        It seems that the character is not from Marvel Universe, please check
        your typo.
      </p>
    </div>
    <% } else { %>
    <div>
      <p>Name: <%= name %></p>
      <p>Description: <%= description %></p>
      <h1>List of <%= comics.length %> Comics</h1>
      <% if (comics.length === 0) { %>
      <p>No comics found.</p>
      <% } else { %>
      <ul>
        <% comics.forEach(comic => { %>
        <li>
          <h3><%= comic.title %></h3>
          <% if (comic.description) { %>
          <p><%= comic.description %></p>
          <% } else { %>
          <p>N/A</p>
          <% } %>
        </li>
        <% }); %>
      </ul>
      <% } %>
    </div>
    <% } %>
  </body>
</html>
